body{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 40px;
    background-attachment:fixed;
}
h3, h5, p{
    color: white;
}


.game_cover{
    width: 300px;
    height: 300px;
    object-position: top;
    object-fit: cover;
    box-shadow: 0 0 50px black;
}
.my_button_container{
    padding: 10px;
    background-color: blue;
    width: 300px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.my_button_link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.my_button_link:hover{
    color: black;
}

/* game screenshots */
.game_screenshots{
    height: 500px;
    overflow: auto;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.screenshot_box{
    height: 100px;
}

/* lookalike games */
.look_alike_games{
    padding: 20px 0;
}
.games_container{
    display: inline-block;
    margin: 0 5px;
    min-width: 300px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    position: relative;
}
.games_container img{
    width: 100%;
}
.games_container h5{
    position: absolute;
    top: 2px;
    left: 2px;
}

.look_alike_scroll{
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
}