body{
    font-family: Arial, sans-serif;
}

.box{
    background-color: blue;
    border: 1px solid;
    min-height: 100px;
}

/** color resets */


/**font reset  */
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.3rem;
}
h4{
    font-size: 1.3rem;
}
h5{
    font-size: 0.9rem;
}

/**text utilities  */
.title_section{
    padding-bottom: 30px;
}
.small_title_section{
    padding-bottom: 18px;
}
.text_section > h4{
    color: gray
}
.text_section{
    padding-bottom: 18px;
}

/**cards utilities  */
.card.game_cover > img{
    border-radius: inherit;
}
.card.game_cover{
    background-color: rgba(255, 255, 255, 0);
}




/**navbar  */
.sony_logo_svg{
    max-width: 90px;
    padding: 10px;
}

.lens_svg{
    width: 25px;
}

/**hero  */
.hero_container{
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 60px;
}

/**my_card utilitie */
.game_cover{
    border-radius: 18px;
    overflow: hidden;
    border: none;
}

/**PS5 section  */
.text_super{
    color: blue;
}

/**hero section 2 */
.hero_2_container{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_2_jumbo{
    max-width: 300px;
    width: 100%;
}

/** new games section  */
.new_games_section{
    background-color: rgb(31, 31, 31);
}

/** ps plus section */
.ps_plus_section{
    background-color: rgb(190, 188, 187);
}
.ps_plus_logo{
    max-width: 300px;
    width: 75%;
}

/** ps now section */
.ps_now_section{
    background-color: rgb(22, 28, 60);
}.ps_now_logo{
    max-width: 300px;
    width: 75%;
}

/** footer */
.footer_section {
    font-size: small;
    background-color: rgb(0, 67, 156);
}

.playstation_footer_logo{
    width: 20%;
    padding: 20px 0;
}
.language_globe{
    width: 20px;
}

.footer_list{
    list-style: none;
}
.footer_list a{
    text-decoration: none;
    color: white;
}

.sie_logo{
    width: 150px;
}