body{
    font-family: Arial, sans-serif;
}

.box{
    background-color: blue;
    border: 1px solid;
}

/**font reset  */
h2{
    font-size: 2.5rem;
}
h4{
    font-size: 1.3rem;
    color: gray;
}

/**text utilities  */
.title_section{
    padding-bottom: 30px;
}
.text_section{
    padding-bottom: 20px;
}


/**navbar  */
.sony_logo_svg{
    max-width: 90px;
    padding: 10px;
}

.lens_svg{
    width: 25px;
}


/**hero  */
.hero_container{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 60px;
}

.game_cover{
    border-radius: 18px;
    position: relative;
}


/**PS5 section  */
.text_super{
    color: blue;
}
